.portrait {
  padding-top: 110%;
  background-position: center; 
  background-size: cover;
  border-radius: 10%;
}

.img {
  padding-top: 100%;
  background-position: center; 
  background-size: contain;
}

.reference {
  text-align: center;
  font-size: 0.8em;
  /* font-style: italic; */
}

ul.pro-contra {
	position: relative;
	list-style: none;
	margin-left: 0;
  /* padding-left: 1em; */
  clear: left;
  text-align: left;
}

ul.pro-contra li {
  margin: 0.5em 0;
}

ul.pro-contra li.pro:before {
  content: "";
  height: 1.2em;
  width: 1.2em;
  display: block;
  float: left;
  margin-left: -1.5em;
  background-image: url("gfx/plus.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

ul.pro-contra li.contra:before {
  content: "";
  height: 1.2em;
  width: 1.2em;
  display: block;
  float: left;
  margin-left: -1.5em;
  background-image: url("gfx/minus.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
