/* ==========================================================================
   AVG skin
   ========================================================================== */


/* Colors */
$background-color: #ffffff !default;
$text-color: #343434 !default;
$muted-text-color: #505050 !default;
$primary-color: #343434 !default;
$border-color: #a51e37 !default;
$footer-background-color: #a51e37 !default;
$link-color: #343434 !default;
$masthead-link-color: $background-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;


$masthead-link-color: $background-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.masthead {
    background-color: $footer-background-color;
}

#site-nav {
    background-color: $footer-background-color;
}
